

POSTGRES_CONN_STRING=postgresql://postgres:root@localhost:5432/humpback-whale?sslmode=disable&search_path=humpback-whale
MIGRATE_ENDPOINT=postgresql://postgres:root@localhost:5432/humpback-whale?sslmode=disable&search_path=humpback-whale
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=veryhardpass
JWT_SIGNING_KEY=diploma2025
